h1,
h2,
h3,
h4,
h5,
h6{font-family: 'NanumSquare', san-serif;}
p.subtitle{font-family:'black han sans', sans-serif;}

.main-text{font-weight: 200;
     font-size: 20px;
     text-align: justify;
     letter-spacing: -0.05;
     word-spacing:1.0em;}

.main-wrapper{width:500px;
             margin: 0 auto;}

.div-pad{padding: 15px 30px 40px50px;}

.box-a{width:100px;
       height:100px;
       background-color: green;
       display:block;}

.box-b{width:100px;
       height:100px;
       background-color: red;
       display:block;}

.box-c{width:100px;
       height:100px;
       background-color: blue;
       display:block;}